.App {
  text-align: center;
  background: rgba(0, 0, 0, 0.5); 
  padding: 30px 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 35%;
  margin: 0 auto; 
}

.welcomemsg {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 70px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, #8a7f65, #7D6340, #845b35, #9E5125, #9D4120); 
  min-height: 100vh;
  padding-top: 120px; 
  color: white;
}